*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.text-gradient {
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
}
